@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    background-image: url("clouds.jpg");
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}